:root {
    --primary-color: #6a1b9a;
    --secondary-color: #1e88e5;
    --background-color: #ffffff;
    --text-color: #333333;
    --card-background: #f3f0fa;
    --shadow: rgba(0, 0, 0, 0.1);

    --dark-background: #000000;
    --dark-text-color: #e0e0e0;
    --dark-primary-color: #ad2ed0;
    --dark-secondary-color: #1e88e5;
    --dark-card-background: #000000;
    --dark-shadow: rgba(0, 0, 0, 0.6);

    --markdown-background: #ffffff;
    --markdown-text: #3c3c3c;
    --markdown-code-background: #ffffff;

    --dark-markdown-background: #1c1b22;
    --dark-markdown-text: #cfcfcf;
    --dark-markdown-code-background: #2a2835;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
    
}

body {
    font-family: 'kanit', sans-serif; 
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

body.dark-mode {
    background-color: var(--dark-background);
    color: var(--dark-text-color);
}

::-webkit-scrollbar {
    width: 12px; 
}
*::-webkit-scrollbar,*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
  
*::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
}

.portfolio-wrapper {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(15px);

}

.vertical-nav {
    width: 200px;
    backdrop-filter: blur(15px);
    color: var(--primary-color);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    transition: width 0.3s ease-in-out;
    flex-shrink: 0;
}

.dark-mode .vertical-nav {
    background-color: var(--dark-background-color);
    color: var(--dark-primary-color);
    color:var(--dark-secondary-color);
    backdrop-filter: blur(15px);

}

.vertical-nav.collapsed {
    width: 50px; 
}

.vertical-nav ul {
    align-items: start;
    list-style-type: none;
    padding: 0 0;
}

.vertical-nav.collapsed ul {
    display: none; 
}



.vertical-nav li {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.vertical-nav li:hover {
    background-color: rgba(0, 0, 0, 0.199);
}

.dark-mode .vertical-nav li:hover {
    background-color: rgba(255, 255, 255, 0.199);
}

.dark-mode .vertical-nav li.active {
    background-color: #1e88e521;
}

.vertical-nav li.active {
    background-color: #ad2ed048;
    
}

.nav-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    background-color: var(--dark-card-background);
    transition: transform 0.3s ease, height 0.3s ease;
    z-index: 1;
}

.dark-mode .nav-indicator {
    background-color: var(--card-background);
}

.section {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(15px);

    height: 100%;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 
        opacity 0.5s ease, 
        transform 0.5s ease, 
        visibility 0.5s;
    overflow-y: auto;

    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin: 4rem;
}

.sections-container {
    margin-left: 200px;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    position: relative;
    flex-grow: 1;
    transition: margin-left 0.3s ease-in-out;
}

.sections-container .section {
    transition: all 0.3s ease;
}

.sections-container.nav-hidden {
    margin-left: 0; 
}


@media (max-width: 768px) {
    .portfolio-wrapper {
        flex-direction: column;
    }
    
    .vertical-nav {
        position: static;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    
    .sections-container {
        margin-left: 0;
        width: 100%;
    }

    .vertical-nav {
        display: none; 
    }

    .sections-container {
        margin-left: 0; 
        width: 100%;
        height: auto;
    }

    .section {
        height: auto; 
        min-height: 0; 
        padding: 15px; 
    }

    .container {
        width: 95%;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .about-text {
        overflow-x: auto; 
    }
}

.section img {
    max-width: 100%;
    height: auto;
}

.dark-mode .section {
    background-color: #00000000;
    color: var(--dark-text-color);
}

.dark-mode .section h2 {
    color: var(--dark-secondary-color);
}

.dark-mode .experience-item h3 {
    color: var(--dark-primary-color);
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 0;
}

.dark-mode footer {
    background-color: #2c3e50;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color:var(--primary-color);
}

.dark-mode .header-content h1 {
    color: var(--secondary-color);
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}


.contact-info a {
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.3rem;
}

.dark-mode .contact-info a {
    color: var(--dark-primary-color);
}

.section {
    margin: 4rem 0;
    padding: 2rem;
    border-radius: 10px;
}

.section h2 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.experience-item, .education-item {
    margin-bottom: 1.5rem;
}

.experience-item h3, .education-item h3 {
    color: var(--secondary-color);
}


.dark-mode .experience-item h3,.dark-mode .education-item h3 {
    color: var(--dark-primary-color);
}

#dark-mode-toggle {
    position: fixed;
    bottom: 20px; 
    left: 17px; 
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: auto;
    height: auto;
    max-height: 50px;
    font-size: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
}

#dark-mode-toggle:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}


.dark-mode #dark-mode-toggle {
    background-color: var(--dark-secondary-color);
    color: white;
}

.dark-mode #dark-mode-toggle:hover {
    background-color: var(--dark-primary-color);
}

.github-widget {
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
}

.github-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.github-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.github-info h3 {
    margin-bottom: 0.5rem;
}

.top-repos ul {
    list-style-type: none;
    padding: 0;
}

.top-repos li {
    margin-bottom: 0.5rem;
}

.github-repo-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: white; 
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.github-repo-link:hover {
    background-color: var(--primary-color); 
    transform: scale(1.05);
}

.dark-mode .github-repo-link {
    background-color: var(--dark-primary-color);
    color: white;
}

.dark-mode .github-repo-link:hover {
    background-color: var(--dark-secondary-color); 
}

  
#carouselExampleAutoplaying {
    max-width: 600px; 
    margin: 20px auto; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
#editor-container {
    display: flex;
    height: 500px;
    border: 1px solid #ccc;
}
  #markdown-editor {
    flex: 1;
    padding: 10px;
    overflow: auto;
    border: 1px solid #ccc;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    background-color: var(--markdown-background);
    color: var(--markdown-text);
}

#markdown-preview {
    flex: 1;
    padding: 10px;
    overflow: auto;
    border: 1px solid #ccc;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: var(--markdown-background);
    color: var(--markdown-text);
}

#markdown-preview pre code {
    display: block;
    padding: 10px;
    overflow-x: auto;
    background-color: var(--markdown-code-background);
    font-family: 'Courier New', Courier, monospace;
}

#markdown-preview code {
    background-color: var(--markdown-code-background);
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

#markdown-preview h1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
}

#markdown-preview blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1em;
    margin: 1em 0;
}

body.dark-mode #markdown-editor {
    background-color: var(--dark-markdown-background);
    color: var(--dark-markdown-text);
    border-color: #555;
}

body.dark-mode #markdown-preview {
    background-color: var(--dark-markdown-background);
    color: var(--dark-markdown-text);
    border-color: #555;
}

body.dark-mode #markdown-preview pre code {
    background-color: var(--dark-markdown-code-background);
}

body.dark-mode #markdown-preview code {
    background-color: var(--dark-markdown-code-background);
}

body.dark-mode #markdown-preview h1 {
    border-bottom-color: #666;
}

body.dark-mode #markdown-preview blockquote {
    border-left-color: #666;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items:normal;
}

.about-playlist {
    width: 100%; 
    max-width: 450px; 
    height: auto; 
    margin: 0 auto;
}

.about-playlist iframe {
    width: 100%; 
    height: 500px; 
    max-height: 500px; 
    border: none; 
}

.about-paragraph {
    font-size: 1.2rem; 
    line-height: 1.6; 
}

#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}